*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.nav-logo{
    height: 60px;
    width: 100px;
}

.logo{
    background-image: url(images/logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 2px solid transparent;
}

.border:hover{
    border: 2px solid white;
}

/* box-2 */

.add-first{
  color: white;
  font-size: 0.85rem;
  margin-left: 15px;
}

.add-second{
    font-size: 1rem;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
}

/* box-3 */

.nav-search{
    display: flex;
    justify-content: space-evenly;  
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}

.search-select{
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 50px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: orange;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

/* box-4 */
span{
    font-size: 0.7rem;

}

.nav-second{
    font-size: 15px;
}

.nav-cart i{
    font-size: 20px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* panel */

.panel{
    height: 40px;
    background-color: #222f3d;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;
}

.panel-ops p{
    display: inline;
    font-size: 0.85rem;
    font-weight: 600px;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
}

.panel-deals{
    font-size: 0.9rem;
}

/* hero-section */

.hero-section{
    background-image: url(images/amznPg.jpg);
    height: 350px;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero-msg{
    background-color: white;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 25px;
}

.hero-msg a{
 color: #1d2734;
 font-weight: 500;
}

/* shop-section */

.shop-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: rgb(244, 204, 74);
}

.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 20px;
}

.box-img{
    height: 300px;
    margin-top: 10px;
}

.box-content{
    margin-left: 15px;
    margin-right: 15px;
}

.box-content p{
    margin-top: 10px;
    color: #0f1111;
}

/* foot-panel */

.foot-panel1{
    background-color: #222f3d;
    height: 50px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    margin-top: 5px;
}

.foot-panel2{
    background-color: #394654;
    color: white;
    height: 250px;
    display: flex;
    justify-content: space-evenly;
}

ul p {
    font-weight: 800%;
    font-size: 17px;
}

ul a {
    display: block;
    color: whitesmoke;
    font-size: 15px;
    margin-top: 10px;
    text-decoration: none;
}

ul {
    margin-top: 50px;
}